@page
@model ForgotPasswordConfirmation

@{
    Layout = null;
    ViewData["Title"] = "Pickin | Forgot Password Confirmation";
}

<link rel="stylesheet" href="~/css/bootstrap.css" type='text/css' />
<link rel="stylesheet" href="~/css/font-awesome.css" type='text/css' />
<link rel="stylesheet" href="~/css/animate.css" type='text/css' />
<link rel="stylesheet" href="~/css/style.css" type='text/css' />

<body class="gray-bg">

    <div class="middle-box loginscreen  animated fadeInDown">
        <div style="padding-top:120px">
            <div class="text-center">
                @if (Model.EmpresaImage != null)
                {
                    <h1 class="logo-name"><img src="data:image/jpg;base64,@Convert.ToBase64String(Model.EmpresaImage)" width="150px"/></h1>
                }
                else
                {
                    <h1 class="logo-name"><img src="~/images/logo.png" width="150px" /></h1>
                }
            </div>
            <br />
            <br />
            <h3 class="text-center">
                Por favor, revise su email para poder resetear su contraseña.
            </h3>
        </div>
    </div>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
