@page
@model Front_RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/bootstrap.css" type='text/css' />
<link rel="stylesheet" href="~/css/font-awesome.css" type='text/css' />
<link rel="stylesheet" href="~/css/animate.css" type='text/css' />
<link rel="stylesheet" href="~/css/style.css" type='text/css' />

<body class="gray-bg">

    <div class="middle-box loginscreen  animated fadeInDown">
        <div style="padding-top:120px">
            <div class="text-center">
                <h1 class="logo-name"><img src="data:image/jpg;base64,@Convert.ToBase64String(Model.Input.OrganizationImage)" /></h1>
            </div>
            <br />
            <h3 class="text-left">Datos para registrarse:</h3>

            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Input.OrganizationId" />
                <input type="hidden" asp-for="Input.OrganizationImage" />
                <input type="hidden" asp-for="Input.InternalUser" />
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <div class="form-group" style="text-align: center">
                <p>
                    <a id="login" asp-page="./Front_Login" asp-route-id="@Model.Input.OrganizationId">Volver al Login</a>
                </p>
            </div>
        </div>
    </div>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
