@page
@model ResetPasswordModel

@{
    Layout = null;
    ViewData["Title"] = "Pickin | Forgot Password";
}

<link rel="stylesheet" href="~/css/bootstrap.css" type='text/css' />
<link rel="stylesheet" href="~/css/font-awesome.css" type='text/css' />
<link rel="stylesheet" href="~/css/animate.css" type='text/css' />
<link rel="stylesheet" href="~/css/style.css" type='text/css' />

<body class="gray-bg">

    <div class="middle-box loginscreen  animated fadeInDown">
        <div style="padding-top:120px">
            <div class="text-center">
                @if (Model.EmpresaImage != null)
                {
                    <h1 class="logo-name"><img src="data:image/jpg;base64,@Convert.ToBase64String(Model.EmpresaImage)" /></h1>
                }
                else
                {
                    <h1 class="logo-name"><img src="~/images/logo color.png" /></h1>
                }
            </div>
            <br />
            <br />
            <h3 class="text-center">Blanquee su password.</h3>

            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" readonly="readonly" />
                    @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="@Model.EmpresaId" />
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
            <div class="form-group" style="text-align: center">
                @if (Model.EmpresaId.HasValue)
                {
                    <p>
                        <a id="login" asp-page="./Front_Login" asp-route-id="@Model.EmpresaId.Value">Volver al Login</a>
                    </p>
                }
                else
                {
                    <p>
                        <a id="login" asp-page="./Login">Volver al Login</a>
                    </p>
                }
            </div>
        </div>
    </div>

</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}